* {
    font-family: Helvetica;
}
.header {
    position: relative;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.background-image {
    width: 100%;
    height: 200px; /* Adjust this value for the desired banner height */
    display: block;
    margin: 0 auto;
    object-fit: cover; /* To maintain image aspect ratio and cover the container */
}

.header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}
h2.brushes {
    background-color: mediumspringgreen
}
h2.frames {
    background-color: lightcoral
}
h2.paint {
    background-color: skyblue
}
strong {
    color: blue !important
}
