/* MAIN */

* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

/* NAV. BAR */

.nav {
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 69px;
}
.nav-header {
    font-family: 'Parisienne' !important;
    font-size: 50px;
    margin: 10px;
}
.nav-container {
    text-align: end;
}
.nav-container p {
    display: inline-block;
    text-decoration: underline;
    margin: 0;
    padding: 10px;
}

/* MISSION HEADER */

.header {
    position: relative;
    text-align: center;
}
.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black !important;
    width: 1200px;
    z-index: 1;
    opacity: 10 !important;
}
.header-container h2{
    font-size: 32px;
}
.header-container h2,
.header-container h4 {
    margin: 0;
    padding: 10px;
}
.background-image {
    width: 1200px;
    height: 700px; 
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
    opacity: 10 !important;
}

/* TEA OF MONTH */
.tea-of-month {
    position: relative;
    text-align: center;
    margin: 0 20%;
}
.tea-of-month h2{
    font-size: 32px;
}
.tea-container {
    padding-top: 30px;
}
.tea-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tea {
    text-align: center;
    margin: 10px;   
}
.tea p {
    align-items: center;
}
.tea-pics img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

/* LOCATIONS */

.locations {
    position: relative;
    text-align: center;
}
.location-background {
    width: 1200px;
    height: 500px; 
    background-size: cover;
    background-position: center;
    display: block;
    margin: 0 auto;
    opacity: 10 !important;
}
.location-container {
    position: absolute;
    margin-top: 50px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    z-index: 1;
    background-color:transparent;
}
.location-heading {
    display: inline-block;
    margin: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
}

.address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 55px;

    opacity: 1;
}
.address-downtown,
.address-bayside,
.address-oakdale {
    display: inline-block;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    background-color: black;
}

/* FOOTER */

.closing {
    position: relative;
    text-align: center;
}
.closing h2 {
    font-size: 32px;
}
.closing-container {
    height: 200px;
}
.trademark {
    margin-left: 20px;
    text-align: left;
}
.trademark p {
    font-size: 15px;
    font-weight: 700;
}
